.image-grid {
    /* border: 1px solid black; */
    width: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 equal columns */
    gap: 1px; /* Add a small gap between images */
    justify-items: center; /* Center items horizontally in their grid cells */
}

img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.error-icon {
    background-color: red;
    color: white; /* Make the icon white */
    height: 40px; /* Match the size of the image-slot */
    width: 40px;  /* Match the size of the image-slot */
    border-radius: 50%; /* Make it circular */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px; /* Adjust icon size */
}

.image-slot {
    width: 40px;
    height: 40px; /* Ensure the height is equal to width */
    /* border: 1px solid black; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
