.box{
    width: 70vw;
    height: 18vh;
   margin: 50px auto;
    border: 1px solid black;
    display: flex;
    padding: 30px;
    background-color: rgb(6, 6, 55);
}

.explorin-text{
    position: relative;
    left: 10vw;
    color: white;
    
}
.explorin-text p{
    position: relative;
    bottom: 25px;
    
}